*{
    padding: 0;
    margin: 0.5rem;
    font-family: 'Inter', sans-serif;

}
#root{
    width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
display: flex;
justify-content: center;
align-items: center;
    position: relative;
    margin-top: 2em;
    margin-bottom: 5em;
}
header .header .profile{
    position: relative;
    
}
header .header .profile #profile_img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    
}
header .header .profile .profile-overlay{
    background-image: url("../src/image.jpg");
    background-size: 10em 10em;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    position: relative;
  


}
header .header .profile:hover .profile-overlay {
    cursor: pointer;
    background-color: #474747;
    background-blend-mode: overlay;


}
header .header .profile:hover .profile-overlay .camera-icon{
    display: block;
    position: absolute;
    left: 40%;
    bottom: 20%;
}
header .header .profile .profile-overlay .camera-icon{
   display: none;
}

.share-btn{

}
#icon{
    position: absolute;
    right: 20%;
    top: -10%;
    width: fit-content;
    border-radius: 20px;
}
#icon .btn-container .border .mobile-btn{
    display: none;
}
#icon .border{
    width: 34px;
    height: 34px;
    background-color: white;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
}
#icon .tool-tip{
    display: none;
    position: absolute;
    right: 50%;
    top: 0;
}
#icon .border:hover {
    cursor: pointer;
    background-color:  #F9FAFB;;

}
#icon .btn-container{
    width: 34px;
    height: 34px;
    border-radius: 20px;

}
#icon .btn-container:hover  .tool-tip {
    display: block;
    
}
#icon .border::after  #icon svg path{
    background: #F9FAFB;
    border: 1px dashed #EAECF0;
    stroke: #EAECF0;
}
#icon .border:active{
    background-color:  #FFFFFF;
    box-shadow: 0px 0px 0px 4px #F2F4F7;
    fill: #F9FAFB;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#twitter{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
#slack{
    display: none;
}
section{
    width: 100%;
    padding: 0;
    margin: 0;
}
.links{
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    font-weight: 500;

}
 section a{
    display: flex;
    gap: 0.3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: rgba(234, 236, 240, 1);
    width: 80%;
    height: 76px;
    border-radius: 9px;
 }
 section a:hover{
    background-color: rgba(204, 204, 204, 0.997);

 }
 #social-section{
    display: flex;
    justify-content: center;
 }

 footer{
    border-top: 1px solid rgba(234, 236, 240, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 }
 #hng-task{
    color: #667085;;
 }

 @media screen and (max-width: 470px) {
    #icon{
        position: absolute;
        right: 0%;
        top: 0%;
        width: fit-content;
        border-radius: 20px;
    }
    #icon .btn-container{
        position: relative;
    }
    #icon .btn-container .border .mobile-btn{
        display: block;
        border: none;
        height: 18px;
        width: 20px;
    }
    #icon .border{
        width: fit-content;
        border: 1px dashed #D0D5DD;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        background-color: white;
        
    }
    #icon .btn-container .border .share-btn{
        display: none;
    }
    #icon .btn-container:hover  .tool-tip {
        display: none;

    }
    section a{
        width: 98%;
    }
    footer{
        justify-content: flex-start;
     }
 }